<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="text-align: center;">
      <img
          src="https://writon-data.s3.ap-northeast-2.amazonaws.com/invitation/%EC%B4%88%EB%8C%80%EC%9E%A5+2.0.png"
          alt="Your Image"
          style="display: block; margin: 0 auto; margin-bottom: 16px; width: 500px; height: 500px;">
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <p style="font-size: 18px; color: #333; white-space: pre-line; line-height: 0.7;  margin-bottom: 10px;">
        <strong style="font-weight: bold;">[[${organization}]]</strong>에서 [[${email}]]님을 <br>
        <strong style="font-weight: bold;">[[${challenge}]]</strong> 챌린지로 초대하였습니다<br>
      </p>
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <a th:href="@{${link}}"
         style="display: block; text-align: center;"
         target="_blank"
         data-saferedirecturl="[[https://www.google.com/url?q=${link}]]">
        <img
            src="https://writon-data.s3.ap-northeast-2.amazonaws.com/invitation/%EC%B4%88%EB%8C%80%EC%9E%A5+%EB%B2%84%ED%8A%BC+2.0.png"
            alt="Your Button Image"
            style="display: block; margin: 0 auto; width: 347px; height: 105px;">
      </a>
    </td>
  </tr>
</table>

</body>
</html>